* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*overflow: hidden;*/
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

canvas {
    border: 1px solid green;
    background-color: white;
    z-index: 1;
}

footer {
    position: absolute;
    bottom: 0;
    height: 2vw;
    background-color: green;
    width: 100vw;
    text-align: center;
    color: greenyellow;
}

#bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
}
