* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

#tabletbody {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#pens {
    position: absolute;
    top: 1vw;
    right: 5vw;
    z-index: 3;
}

#pen {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

#penhilit {
    position: absolute;
    left: -7.5px;
    top: 0;
    z-index: 2;
}

#tools {
    position: absolute;
    top: -100vw;
    left: 0;
    background-color: rgba(100, 100, 100, 0.5);
}

#tools.showtools {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 1.5s;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

canvas {
    border: 1px solid green;
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    height: 2vw;
    background-color: green;
    width: 100vw;
    text-align: center;
    color: greenyellow;
}

#bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1000;
}
.forest {
    background-image: url("images/background_forest.jpg");
    background-size: cover;
    height: 100vh;
}

.circus {
    background-image: url("images/background_circus.jpg");
    background-size: cover;
    height: 100vh;
}

.autumn {
    background-image: url("images/background_autumn.jpg");
    background-size: cover;
    height: 100vh;
}
#bottomleft.destination {
    position: absolute;
    left: 0;
    bottom: 2vw;
    transition: left 1.5s;
    transition-timing-function: ease;
}

#bottomleft_alt.destination {
    position: absolute;
    left: 0;
    bottom: 2vw;
    transition: left 1.5s;
    transition-timing-function: ease;
}

#bottom_alt.destination {
    position: absolute;
    left: 50vw;
    bottom: 2vw;
    transition: bottom 1.5s;
    transition-timing-function: ease;
}

#bottom.destination {
    position: absolute;
    left: 50vw;
    bottom: 2vw;
    transition: bottom 1.5s;
    transition-timing-function: ease;
}

#bottomright.destination {
    position: absolute;
    right: 0;
    bottom: 2vw;
    transition: right 1.5s;
    transition-timing-function: ease;
}

#bottomright_alt.destination {
    position: absolute;
    right: 0;
    bottom: 2vw;
    transition: right 1.5s;
    transition-timing-function: ease;
}

#topright.destination {
    position: absolute;
    right: 0;
    top: 0;
    transition: right 1.5s;
    transition-timing-function: ease;
}

#walker.destination {
    position: absolute;
    right: 110vw;
    bottom: 1.9vw;
    transition: right 10s;
}

#walker_alt.destination {
    position: absolute;
    right: 110vw;
    bottom: 1.9vw;
    transition: right 10s;
}

#fly.destination {
    position: absolute;
    right: 110vw;
    bottom: 25vw;
    transition: right bottom 10s;
}

#bottomleft {
    position: absolute;
    left: -25vw;
    bottom: 2vw;
    transition: left 1.5s;
}

#bottomleft_alt {
    position: absolute;
    left: -25vw;
    bottom: 2vw;
    transition: left 1.5s;
}

#bottom_alt {
    position: absolute;
    left: 50vw;
    bottom: -25vw;
    transition: bottom 1.5s;
}

#bottom {
    position: absolute;
    left: 50vw;
    bottom: -25vw;
    transition: bottom 1.5s;
}

#bottomright {
    position: absolute;
    right: -25vw;
    bottom: 2vw;
    transition: right 1.5s;
}

#bottomright_alt {
    position: absolute;
    right: -25vw;
    bottom: 2vw;
    transition: right 1.5s;
}

#topright {
    position: absolute;
    right: -25vw;
    top: 0;
    transition: right 1.5s;
}

#walker {
    position: absolute;
    right: -20vw;
    bottom: 1.9vw;
}

#walker_alt {
    position: absolute;
    right: -20vw;
    bottom: 1.9vw;
}

#fly {
    position: absolute;
    right: 25vw;
    bottom: -6vw;
}
