* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: linear-gradient(PaleGreen, white);
    background-size: cover;
    height: 120vh;
}

.welcomebox {
    background: linear-gradient(#d5ff80, white);
    width: 60vw;
    margin-left: calc((100% - 60vw) / 2);
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: green white green white;
    border-radius: 1vw;
}

.siteinfo {
    width: 50vw;
    height: auto;
    border: 1px solid black;
    padding: 2vw;
    margin-left: calc((100% - 50vw) / 2);
    border-style: solid;
    border-width: 1px;
    border-color: green white green white;
    border-radius: 1vw;
    text-align: left;
    clear: both;
}

a {
    color: purple;
    font-family: "Annie Use Your Telescope", cursive;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2em;
}

a:hover {
    text-decoration: underline;
}

.imageslist {
    width: 85vw;
    height: 100vh;
    position: absolute;
    left: 0;
}

.usersonline {
    width: 15vw;
    height: 100vh;
    position: absolute;
    right: 0;
}

.useronline {
    width: 15vw;
    height: 5vw;
    border-style: solid;
    border-width: 1px;
    border-color: green white green white;
    border-radius: 1vw;
    font-family: "Annie Use Your Telescope", cursive;
    font-size: 3vw;
    padding-left: 1vw;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.sendmessage {
    width: 40vw;
    height: 12vw;
    position: absolute;
    top: 10vw;
    right: 15vw;
    background-color: rgba(200, 255, 180, 0.6);
    border-style: solid;
    border-width: 1px;
    border-color: green white green white;
    border-radius: 1vw;
}

.sendx {
    position: absolute;
    right: 1vw;
    top: 1vw;
    font-size: 4vw;
    font-family: "Annie Use Your Telescope", cursive;
}

.sendtext {
    position: absolute;
    left: 10%;
    top: 1vw;
    font-size: 4vw;
    font-family: "Annie Use Your Telescope", cursive;
}

.sendmessage input {
    left: 20%;
    top: 45%;
    width: 50%;
    position: absolute;
}

.sendtextto {
    position: absolute;
    left: 30%;
    top: 6vw;
    font-size: 4vw;
    font-family: "Annie Use Your Telescope", cursive;
}

.sendmessage button {
    left: 70%;
    top: 45%;
    width: 10%;
    position: absolute;
}

.infotext {
    text-align: center;
}

.errortext {
    color: red;
}

.welcomeselectbox {
    display: inline-block;
    width: 40%;
    margin-left: 10%;
    float: left;
}

.databox {
    display: inline-block;
    width: 40%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    float: right;
    height: auto;
    text-align: right;
}

.user {
    width: 150px;
    height: 150px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: green white green white;
    border-radius: 24px;
    color: purple;
    font-family: "Annie Use Your Telescope", cursive;
    font-size: 2em;
    background-image: url("images/background_circus.jpg");
    background-size: cover;
    overflow: hidden;
    margin-bottom: 5px;
}

.topmenu {
    height: 5vw;
}

.menuselect {
    display: inline-block;
    width: 150px;
    font-size: 2vw;
    margin-left: 2vw;
}

.menuselect h1 {
    color: white;
    font-family: "Annie Use Your Telescope", cursive;
    margin-bottom: 2vw;
    font-size: 2vw;
}

.user h1 {
    background-color: purple;
    color: white;
    font-size: 2vw;
}

.userbox {
    width: 150px;
    height: auto;
    margin: 1vw;
    display: inline-block;
    float: left;
}

.topbar {
    width: 100vw;
    height: auto;
    background: linear-gradient(#d5ff80, white);
    border-style: solid;
    border-width: 1px;
    border-color: green white green white;
    border-radius: 0.5vw;
    text-align: right;
}

.subuserboxC {
    width: 250px;
    height: auto;
    background-color: PaleGreen;
    border-style: solid;
    border-width: 1px;
    border-color: green white green white;
    border-radius: 1vw;
    display: inline-block;
    float: right;
    padding-left: 50px;
    padding-bottom: 25px;
    margin: 2.5vw;
}

.subuserboxL {
    width: 250px;
    height: auto;
    background-color: PaleGreen;
    border-style: solid;
    border-width: 1px;
    border-color: green white green white;
    border-radius: 1vw;
    display: inline-block;
    float: center;
    padding-left: 50px;
    padding-bottom: 25px;
    margin: 2.5vw;
}

.subuserboxE {
    width: 250px;
    height: auto;
    background-color: PaleGreen;
    border-style: solid;
    border-width: 1px;
    border-color: green white green white;
    border-radius: 1vw;
    display: inline-block;
    float: left;
    padding-left: 50px;
    padding-bottom: 25px;
    margin: 2.5vw;
}

.createsubuser {
    width: 150px;
    height: auto;
    text-align: left;
}

.tabularasa {
    width: 200px;
    height: 150px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: green yellow green yellow;
    border-radius: 0.5vw;
    margin: 15px;
    display: inline-block;
    float: left;
}

.drawing {
    width: 200px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: green yellow green yellow;
    border-radius: 0.5vw;
    margin: 15px;
    display: inline-block;
    float: left;
}

.friendshipbox {
    width: 100vw;
    background-color: PaleGreen;
    border-style: solid;
    border-width: 1px;
    border-color: green white green white;
    border-radius: 1vw;
}

.fcontainershort {
    width: 20%;
    height: 20px;
    overflow: scroll;
    display: inline-block;
}

button.fcontainershort {
    width: 20%;
    height: 20px;
}

.fcontainer {
    width: 30%;
    height: 20px;
    overflow: scroll;
    display: inline-block;
}

.success {
    width: 100%;
    background-color: green;
    color: white;
    text-align: right;
    padding-right: 10%;
}

.failure {
    width: 100%;
    background-color: red;
    color: black;
    text-align: right;
    padding-right: 10%;
}

.forest {
    background-image: url("images/background_forest.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}

.circus {
    background-image: url("images/background_circus.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}

.autumn {
    background-image: url("images/background_autumn.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}

input {
    width: 150px;
    height: 20px;
}

button {
    width: 150px;
    height: 20px;
    color: white;
    background-color: purple;
}

h1 {
    font-family: "Annie Use Your Telescope", cursive;
    font-size: 4em;
    text-align: center;
    width: 100%;
    background-color: purple;
    color: white;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    margin-left: 5px;
}
.yellowLine {
    width: 100vw;
    height: 5vw;
    background-color: yellow;
    position: fixed;
    top: 0;
    z-index: -100;
}

.blueLine {
    width: 100vw;
    height: 5vw;
    background-color: lightblue;
    position: fixed;
    top: 10vw;
    z-index: -100;
}

.orangeLine {
    width: 100vw;
    height: 5vw;
    background-color: orange;
    position: fixed;
    top: 20vw;
    z-index: -100;
}
